
.frontpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color:skyblue;
  margin-top: 0 auto;
  border: yellow solid;
}

.password-input {
  border: none;
  appearance: none;
  background: #f2f2f2;
  padding: 22px;
  width: 250px;
  border-radius: 3px;
  outline: none;
}

.submit-btn {
      display: block;
      width: 115px;
      /* height: 25px; */
      background: #4E9CAF;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      line-height: 25px;
      text-decoration: none;
      border: none;
      outline: none;
}

.submit-btn:hover {
      background-color:red;
      border: none;
}